header {
  border-style: none none solid none;
}

footer {
  border-style: solid none none none;
}

.footer-img {
  width: 80px;
  height: 80px;
  margin-top: 10px;
}

p {
  font-family: fantasy;
}

.interesting {
  list-style-type: square;
}

/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/aside */
aside {
  width: 40%;
  padding-left: .5rem;
  margin-left: .5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
}

.aside-text {
  font-family: monospace;
}
