header {
  border-style: none none solid none;
}

footer {
  border-style: solid none none none;
}

.footer-img {
  width: 80px;
  height: 80px;
  margin-top: 20px;
}

/* https://www.developerdrive.com/8-simple-css-hover-effects/ */
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.footer-img:hover {
  animation: bounce 1s;
}


p {
  font-family: fantasy;
}

.interesting {
  list-style-type: square;
}

/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/aside */
aside {
  width: 40%;
  padding-left: .5rem;
  margin-left: .5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
}

.aside-text {
  font-family: monospace;
}

section#trees-overview section {
    display: flex;
    flex-direction: row;
}

section#trees-overview article {
    flex: 1;
}